<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<link lang="en" th:replace="fragments/generalheader :: gheader"/>
	<title th:text="#{accBalance.title}">title</title>
	<link rel="icon" type="image/png" th:href="@{/img/ico/common.ico}"/>
    <script th:src="@{/app/accBalance.js}"></script>
</head>
  
<body>

<!-- loader -->
<div lang="en" th:replace="fragments/loader :: loader"> </div>

<!-- Side Navbar -->
<div lang="en" th:replace="fragments/side_nav :: sidenav"> </div>

<!-- page div -->
 <div class="page">
 <!-- top navbar-->
 <div lang="en" th:replace="fragments/top_nav :: topnav"> </div>
 
 <!-- form-->
 <section class="forms">
 	<!-- container-fluid-->
 	<div class="container-fluid">
    	<br/>
    	<!--  row  -->
	    <div class="row">
	    	<!--  Top part -->
	    	<div class="col-lg-12">
	        <div class="card">
	          <div class="card-body">
          		<!-- bank info row -->
         			<div class="row">
		      		<div class="col-lg-8 offset-lg-2">
		              	<h1 class="display h2 text-center">
		              		<span id="lblBank" class="h2 font-weight-bold text-success"></span><br>
		                	<span id="lblAccount" class="h4"></span><br/>
		                	<span id="lblPaidSalary" class="h5 text-danger"></span><br/>
		                	<span id="lblRemainBalance" class="h5 text-info"></span>
		              	</h1>
		            </div>
		      	</div>
          		<!-- bank info row -->
	          </div>
	        </div>
	      </div>
	      <!-- // Top side -->
	      
	      <!--  Bottom side -->
	      	<div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                <div class="row justify-content-center">
               		<a href="reportPaidSalary">
               			<button class="btn btn-primary btn-sm">
	               			<i class="fa fa-file-pdf-o"></i> &nbsp;
	               			<span th:text="#{accBalance.printPaidSalaryReport}"/></span>
	               		</button>
               		</a>
                  </div>
                  <div class="table-responsive">
                    <table id="dataTableID" class="table table-sm table-striped table-bordered" style="width:100%">
			          <thead>
			          	<tr>
					        <th style="width: 5%" th:text="#{salarySheet.sl}"></th>
					        <th th:text="#{accBalance.empInfo}"></th>
					        <th th:text="#{accBalance.description}"></th>
					        <th th:text="#{accBalance.paidSalary}"></th>
					    </tr>
			          </thead>
			          <tfoot>
			          	<tr>
			          		<th colspan="3" style="text-align:right" th:text="#{accBalance.totalPaidSalary}">Total</th>
			          		<th></th>
			          	</tr>
			          </tfoot>
		          </table>
                  </div>
                </div>
              </div>
            </div>
	      <!-- // Bottom side --> 
	    </div>
	    <!-- // row -->
	</div>
	<!-- // container-fluid-->
</section>      
<!-- // form-->
 
<!-- Footer -->
<div lang="en" th:replace="fragments/footer :: footer"> </div>     
</div>
<!-- //page div -->
</body>
</html>
