<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<link lang="en" th:replace="fragments/generalheader :: gheader"/>
	<title th:text="#{empAccount.title}">title</title>
	<link rel="icon" type="image/png" th:href="@{/img/ico/common.ico}"/>
    <script th:src="@{/app/empAccount.js}"></script>
</head>
  
<body>

<!-- loader -->
<div lang="en" th:replace="fragments/loader :: loader"> </div>

<!-- Side Navbar -->
<div lang="en" th:replace="fragments/side_nav :: sidenav"> </div>

<!-- page div -->
 <div class="page">
 <!-- top navbar-->
 <div lang="en" th:replace="fragments/top_nav :: topnav"> </div>
 
 <!-- form-->
 <section class="forms">
 	<!-- container-fluid-->
 	<div class="container-fluid">
    	<br/>
    	<!--  row -->
	    <div class="row">
	    	<!--  Top part -->
	    	<div class="col-lg-12">
	        <div class="card">
	          <div class="card-body">
		            <!-- form row -->
		            <div class="row">
		            	<div class="col-lg-3 col-sm-6">
		            		<div class="form-group">
				              	<label th:text="#{employee.title}"></label>
				              	<div class="input-group">
				                	<select id="selectEmp" class="form-control form-control-sm">
							    	</select>
			              		</div>
			              	</div>
		            	</div>
		            	<div class="col-lg-3 col-sm-6">
		            		<div class="form-group">
				              	<label th:text="#{empAccount.type}"></label>
				              	<div class="input-group">
				                	<select id="selectType" class="form-control form-control-sm">
				                		<option value="Savings">Savings</option>
				                		<option value="Current">Current</option>
							    	</select>
			              		</div>
			              	</div>
		            	</div>
		            	<div class="col-lg-3 col-sm-6">
		            		<div class="form-group">
				              	<label th:text="#{empAccount.accName}+' *'"></label>
				                <div class="input-group">
				                	<input id="txtAccName" type="text" class="form-control form-control-sm"/>
				              	</div>
				              	<div class="error-msg text-danger"><span id="vAccName"></span></div>
			              	</div>
		            	</div>
		            	<div class="col-lg-3 col-sm-6">
		            		<div class="form-group">
				              	<label th:text="#{empAccount.accNumber}+' *'"></label>
				                <div class="input-group">
				                	<input id="txtEmpNumber" type="text" class="form-control form-control-sm"/>
				              	</div>
				              	<div class="error-msg text-danger"><span id="vAccNumber"></span></div>
			              	</div>
		            	</div>
		            	
		            	<div class="col-lg-3 col-sm-6">
		            		<div class="form-group">
				              	<label th:text="#{empAccount.bankName}"></label>
				                <div class="input-group">
				                	<input id="txtBankName" type="text" class="form-control form-control-sm"/>
				              	</div>
			              	</div>
		            	</div>
		            	<div class="col-lg-3 col-sm-6">
		            		<div class="form-group">
				              	<label th:text="#{empAccount.branchName}"></label>
				                <div class="input-group">
				                	<input id="txtBranchName" type="text" class="form-control form-control-sm"/>
				              	</div>
			              	</div>
		            	</div>
		            </div>
		            <!-- // form row -->
	               <div class="form-group">       
	                  <button id="save" class="btn btn-primary btn-sm"><i class="fa fa-save"></i> <span th:text="#{common.save}"/></span></button>
	               </div>
	          </div>
	        </div>
	      </div>
	      <!-- // Top side -->
	      <!--  Bottom side -->
	      	<div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="dataTableEmp" class="table table-sm table-striped table-bordered" style="width:100%">
			          <thead>
			          	<tr>
					        <th style="width: 5%"></th>
					        <th style="width: 5%"></th>
					        <th th:text="#{employee.title}"></th>
					        <th th:text="#{empAccount.type}"></th>
					        <th th:text="#{empAccount.accName}"></th>
					        <th th:text="#{empAccount.accNumber}"></th>
					        <th th:text="#{empAccount.bankName}"></th>
					        <th th:text="#{empAccount.branchName}"></th>
					    </tr>
			          </thead>
		          </table>
                  </div>
                </div>
              </div>
            </div>
	      <!-- // Bottom side --> 
	    </div>
	    <!-- // row -->
	</div>
	<!-- // container-fluid-->
</section>      
<!-- // form-->
 
 
<!-- Model -->
<div id="modelEmployee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
  <div role="document" class="modal-dialog" style="max-width: 80% !important;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 th:text="#{employee.title}" class="modal-title"></h5>
        <button type="button" data-dismiss="modal" aria-label="Close" class="close">&times;</button>
      </div>
      <div class="modal-body">
      	<!-- form row -->
           <div class="row">
           <input id="txtIdU" type="hidden"/>
           	<div class="col-lg-3 col-sm-6">
           		<div class="form-group">
	              	<label th:text="#{employee.title}"></label>
	              	<div class="input-group">
	                	<select id="selectEmpU" class="form-control form-control-sm">
				    	</select>
              		</div>
              	</div>
           	</div>
           	<div class="col-lg-3 col-sm-6">
           		<div class="form-group">
	              	<label th:text="#{empAccount.type}"></label>
	              	<div class="input-group">
	                	<select id="selectTypeU" class="form-control form-control-sm">
	                		<option value="Savings">Savings</option>
	                		<option value="Current">Current</option>
				    	</select>
              		</div>
              	</div>
           	</div>
           	<div class="col-lg-3 col-sm-6">
           		<div class="form-group">
	              	<label th:text="#{empAccount.accName}+' *'"></label>
	                <div class="input-group">
	                	<input id="txtAccNameU" type="text" class="form-control form-control-sm"/>
	              	</div>
	              	<div class="error-msg text-danger"><span id="vAccNameU"></span></div>
              	</div>
           	</div>
           	<div class="col-lg-3 col-sm-6">
           		<div class="form-group">
	              	<label th:text="#{empAccount.accNumber}+' *'"></label>
	                <div class="input-group">
	                	<input id="txtEmpNumberU" type="text" class="form-control form-control-sm"/>
	              	</div>
	              	<div class="error-msg text-danger"><span id="vAccNumberU"></span></div>
              	</div>
           	</div>
           	
           	<div class="col-lg-3 col-sm-6">
           		<div class="form-group">
	              	<label th:text="#{empAccount.bankName}"></label>
	                <div class="input-group">
	                	<input id="txtBankNameU" type="text" class="form-control form-control-sm"/>
	              	</div>
              	</div>
           	</div>
           	<div class="col-lg-3 col-sm-6">
           		<div class="form-group">
	              	<label th:text="#{empAccount.branchName}"></label>
	                <div class="input-group">
	                	<input id="txtBranchNameU" type="text" class="form-control form-control-sm"/>
	              	</div>
              	</div>
           	</div>
           </div>
           <!-- // form row -->
           <div class="form-group">       
              <button id="update" class="btn btn-primary btn-sm"><i class="fa fa-save"></i> <span th:text="#{common.update}"/></span></button>
           </div>
      </div>
    </div>
  </div>
</div>
<!-- // Model --> 
 
<!-- Footer -->
<div lang="en" th:replace="fragments/footer :: footer"> </div>     
</div>
<!-- //page div -->
</body>
</html>
