<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<link lang="en" th:replace="fragments/generalheader :: gheader"/>
	<title th:text="#{grade.title}">title</title>
	<link rel="icon" type="image/png" th:href="@{/img/ico/common.ico}"/>
    <script th:src="@{/app/grade.js}"></script>
</head>
  
<body>

<!-- loader -->
<div lang="en" th:replace="fragments/loader :: loader"> </div>

<!-- Side Navbar -->
<div lang="en" th:replace="fragments/side_nav :: sidenav"> </div>

<!-- page div -->
 <div class="page">
 <!-- top navbar-->
 <div lang="en" th:replace="fragments/top_nav :: topnav"> </div>
 
 <!-- form-->
 <section class="forms">
 	<!-- container-fluid-->
 	<div class="container-fluid">
    	<br/>
    	<!--  row -->
	    <div class="row">
	    	<!--  Top part -->
	    	<div class="col-lg-12" id="divForm">
	        <div class="card">
	          <div class="card-body">
		            <!-- form row -->
		            <div class="row">
		            	<div class="col-lg-12">
		            	<p class="text-center text-primary" th:text="#{grade.note}"></p>
		            	</div>
		            </div>
		            <div class="row">
		            	<div class="col-lg-3 col-sm-6">
		            		<div class="form-group">
				              	<label th:text="#{grade.basic}"></label>
				                <div class="input-group">
				                	<input id="txtBasic" type="number" class="form-control form-control-sm"/>
				              	</div>
				              	<div class="error-msg text-danger"><span id="vSalary"></span></div>
			              	</div>
		            	</div>
		            </div>
		            <!-- // form row -->
	               <div class="form-group">       
	                  <button id="save" class="btn btn-primary btn-sm"><i class="fa fa-save"></i> <span th:text="#{common.save}"/></span></button>
	               </div>
	          </div>
	        </div>
	      </div>
	      <!-- // Top side -->
	      <!--  Bottom side -->
	      	<div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="dataTableID" class="table table-sm table-striped table-bordered" style="width:100%">
			          <thead>
			          	<tr>
					        <th style="width: 5%"></th>
					        <th style="width: 5%"></th>
					        <th th:text="#{grade.name}"></th>
					        <th th:text="#{grade.maxPost}"></th>
					        <th th:text="#{grade.basic}"></th>
					        <th th:text="#{grade.house}"></th>
					        <th th:text="#{grade.medical}"></th>
					        <th th:text="#{grade.salary}"></th>
					    </tr>
			          </thead>
		          </table>
                  </div>
                </div>
              </div>
            </div>
	      <!-- // Bottom side --> 
	    </div>
	    <!-- // row -->
	</div>
	<!-- // container-fluid-->
</section>      
<!-- // form-->
 
 
<!-- Model -->
<div id="modelUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
  <div role="document" class="modal-dialog" style="max-width: 50% !important;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 th:text="#{grade.title}" class="modal-title"></h5>
        <button type="button" data-dismiss="modal" aria-label="Close" class="close">&times;</button>
      </div>
      <div class="modal-body">
      	<!-- form row -->
      	<div class="row">
      		<input id="txtIdU" type="hidden"/>
           	<div class="col-lg-6 col-sm-6">
           		<div class="form-group">
	              	<label th:text="#{grade.basic}"></label>
	                <div class="input-group">
	                	<input id="txtBasicU" type="number" class="form-control form-control-sm"/>
	              	</div>
              	</div>
           	</div>
           </div>
           <!-- // form row -->
           <div class="form-group">       
              <button id="update" class="btn btn-primary btn-sm"><i class="fa fa-save"></i> <span th:text="#{common.update}"/></span></button>
           </div>
      </div>
    </div>
  </div>
</div>
<!-- Model -->
 
<!-- Footer -->
<div lang="en" th:replace="fragments/footer :: footer"> </div>     
</div>
<!-- //page div -->
</body>
</html>
