<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<link lang="en" th:replace="fragments/generalheader :: gheader"/>
	<title th:text="#{home.title}">title</title>
	<link rel="icon" type="image/png" th:href="@{/img/ico/home.ico}"/>
</head>
  
<body>
<!-- Side Navbar -->
<div lang="en" th:replace="fragments/side_nav :: sidenav"> </div>

<!-- page div -->
 <div class="page">
 <!-- top navbar-->
 <div lang="en" th:replace="fragments/top_nav :: topnav"> </div>
 
 <section class="dashboard-header section-padding">
        <div class="container-fluid">
          <div class="row d-flex align-items-md-stretch">
            <!-- Line Chart -->
            <div class="col-lg-8 offset-lg-2">
              <div class="card sales-report">
              	
                <h1 class="display h1 text-center">
                	<span class="font-weight-bold" th:text="#{home.welcomeTo}"></span>
                	<strong class="text-danger" th:text="#{app.firstname}">Name</strong>
                	<span class="text-success" th:text="#{app.lastname}">company</span>
                </h1>
                <h4 class="display h4 text-center" th:text="#{home.welcomeText}"></h4>
                <p></p>
                <div class="list-group">
				  <p class="list-group-item list-group-item-primary"><span class="font-weight-bold" th:text="#{home.functionality}"></span></p>
				  
				  <a href="grade" class="list-group-item list-group-item-action" th:text="#{home.addGrade}"> </a>
				  <a href="employee" class="list-group-item list-group-item-action list-group-item-secondary" th:text="#{home.addEmp}"></a>
				  <a href="empAccount" class="list-group-item list-group-item-action" th:text="#{home.addEmpAcc}"></a>
				  <a href="comAccount" class="list-group-item list-group-item-action list-group-item-secondary" th:text="#{home.addComAcc}"></a>
				 
				  <a href="paySalary" class="list-group-item list-group-item-action" th:text="#{home.paySalary}"></a>
				  
				  <a href="salarySheet" class="list-group-item list-group-item-action list-group-item-secondary" th:text="#{home.salarySheet}"></a>
				  <a href="accBalance" class="list-group-item list-group-item-action" th:text="#{home.comAccount}"> </a>
				  
				</div>
              </div>
            </div>
          </div>
        </div>
    </section>
 
<!-- Footer -->
<div lang="en" th:replace="fragments/footer :: footer"> </div>     
</div>
<!-- //page div -->
</body>
</html>