<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<link lang="en" th:replace="fragments/generalheader :: gheader"/>
	<title th:text="#{paySalary.title}">title</title>
	<link rel="icon" type="image/png" th:href="@{/img/ico/common.ico}"/>
    <script th:src="@{/app/paySalary.js}"></script>
</head>
  
<body>

<!-- loader -->
<div lang="en" th:replace="fragments/loader :: loader"> </div>

<!-- Side Navbar -->
<div lang="en" th:replace="fragments/side_nav :: sidenav"> </div>

<!-- page div -->
 <div class="page">
 <!-- top navbar-->
 <div lang="en" th:replace="fragments/top_nav :: topnav"> </div>
 
 <!-- form-->
 <section class="forms">
 	<!-- container-fluid-->
 	<div class="container-fluid">
    	<br/>
    	<!--  row  -->
	    <div class="row">
	    	<!--  Top part -->
	    	<div class="col-lg-12">
	        <div class="card">
	          <div class="card-body">
	          		<!-- bank info row -->
          			<div class="row">
			      		<div class="col-lg-8 offset-lg-2">
			              	<h1 class="display h2 text-center">
			              		<span id="lblBank" class="h2 font-weight-bold text-success"></span><br>
			                	<span id="lblAccount" class="h4"></span><br/>
			                	<span id="lbltype" class="h6"></span>
			              	</h1>
			            </div>
			      	</div>
	          		<!-- bank info row -->
		            <!-- form row -->
		            <div class="row">
		            	<div class="col-lg-3 col-sm-6">
		            		<div class="form-group">
				              	<label th:text="#{empAccount.title}"></label>
				              	<div class="input-group">
				                	<select id="selectEmpAccount" class="form-control form-control-sm"></select>
			              		</div>
			              	</div>
		            	</div>
		            	<div class="col-lg-2 col-sm-6">
		            		<div class="form-group">
				              	<label th:text="#{paySalary.transferAmount}"></label>
				                <div class="input-group">
				                	<input id="txtTransferAmount" type="number" class="form-control form-control-sm"/>
				              	</div>
				              	<div class="error-msg text-danger"><span id="vTransferAmount"></span></div>
			              	</div>
		            	</div>
		            	<!-- emp info dynamically add this div -->
		            	<div class="col-lg-7" id="divEmpAccInfo"> </div>
		            </div>
		            <!-- // form row -->
	               <div class="form-group">       
	                  <button id="tranAmount" class="btn btn-primary btn-sm"><i class="fa fa-save"></i> <span th:text="#{paySalary.transfer}"/></span></button>
	                  &emsp;<a id="linkAddAmount" href="comAccount" style="text-decoration-line: underline; text-decoration-style: double; display: none;" th:text="#{comAccount.addAmount}"></a>
	               </div>
	          </div>
	        </div>
	      </div>
	      <!-- // Top side -->
	      
	      <!--  Bottom side -->
	      	<div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="dataTableID" class="table table-sm table-striped table-bordered" style="width:100%">
			          <thead>
			          	<tr>
					        <th style="width: 5%"></th>
					        <th th:text="#{paySalary.accInfo}"></th>
					        <th th:text="#{paySalary.drAmount}"></th>
					        <th th:text="#{paySalary.crAmount}"></th>
					        <th th:text="#{paySalary.currentBalance}"></th>
					    </tr>
			          </thead>
		          </table>
                  </div>
                </div>
              </div>
            </div>
	      <!-- // Bottom side --> 
	    </div>
	    <!-- // row -->
	</div>
	<!-- // container-fluid-->
</section>      
<!-- // form-->
 
<!-- Footer -->
<div lang="en" th:replace="fragments/footer :: footer"> </div>     
</div>
<!-- //page div -->
</body>
</html>
