<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<link lang="en" th:replace="fragments/generalheader :: gheader"/>
	<title th:text="#{salarySheet.title}">title</title>
	<link rel="icon" type="image/png" th:href="@{/img/ico/common.ico}"/>
    <script th:src="@{/app/salarySheet.js}"></script>
</head>
  
<body>

<!-- loader -->
<div lang="en" th:replace="fragments/loader :: loader"> </div>

<!-- Side Navbar -->
<div lang="en" th:replace="fragments/side_nav :: sidenav"> </div>

<!-- page div -->
 <div class="page">
 <!-- top navbar-->
 <div lang="en" th:replace="fragments/top_nav :: topnav"> </div>
 
 <!-- form-->
 <section class="forms">
 	<!-- container-fluid-->
 	<div class="container-fluid">
    	<br/>
    	<!--  row -->
	    <div class="row">
	      <!--  Bottom side -->
	      	<div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="row justify-content-center">
               		<a href="reportSalarySheet">
               			<button class="btn btn-primary btn-sm">
	               			<i class="fa fa-file-pdf-o"></i> &nbsp;
	               			<span th:text="#{salarySheet.printSalarySheet}"/></span>
	               		</button>
               		</a>
                  </div>
                  <div class="table-responsive">
                    <table id="dataTableEmp" class="table table-sm table-striped table-bordered" style="width:100%">
			          <thead>
			          	<tr>
					        <th style="width: 5%" th:text="#{salarySheet.sl}"></th>
					        <th th:text="#{employee.empId}"></th>
					        <th th:text="#{employee.empName}"></th>
					        <th th:text="#{employee.empMobile}"></th>
					        <th th:text="#{employee.empAddress}"></th>
					        <th th:text="#{employee.empGrade}"></th>
					        <th th:text="#{grade.basic}"></th>
					        <th th:text="#{grade.house}"></th>
					        <th th:text="#{grade.medical}"></th>
					        <th th:text="#{grade.salary}"></th>
					    </tr>
			          </thead>
			          <tfoot>
			          	<tr>
			          		<th colspan="9" style="text-align:right" th:text="#{salarySheet.totalSalary}">Total</th>
			          		<th></th>
			          	</tr>
			          </tfoot>
		          </table>
                  </div>
                </div>
              </div>
            </div>
	      <!-- // Bottom side --> 
	    </div>
	    <!-- // row -->
	</div>
	<!-- // container-fluid-->
</section>      
<!-- // form-->
 
<!-- Footer -->
<div lang="en" th:replace="fragments/footer :: footer"> </div>     
</div>
<!-- //page div -->
</body>
</html>
