<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
	<footer class="main-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <!-- <p>Rashed &copy; 2017-2024</p> -->
            </div>
            <div class="col-sm-6 text-right">
              <p><span th:text="#{developer.DesignBy}">DesignBy</span> <a href="https://www.linkedin.com/in/md-chabed-alam-57294112b/" class="external"><span th:text="#{developer.name}">name</span></a> </p>
            </div>
          </div>
        </div>
      </footer>
</div>
</html>