<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="gheader">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
	
	<!-- Bootstrap CSS-->
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"/>
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}"/>
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" th:href="@{/css/fontastic.css}"/>
    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"/>
    <!-- jQuery Circle-->
    <link rel="stylesheet" th:href="@{/css/grasp_mobile_progress_circle-1.0.0.min.css}"/>
    <!-- Custom Scrollbar-->
    <link rel="stylesheet" th:href="@{/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css}"/>
    <!-- theme stylesheet-->
    <link rel="stylesheet" th:href="@{/css/style.default.css}" id="theme-stylesheet"/>
    
    <!-- Javascript files-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/popper.js/umd/popper.min.js}"> </script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/grasp_mobile_progress_circle-1.0.0.min.js}"></script>
    <script th:src="@{/vendor/jquery.cookie/jquery.cookie.js}"> </script>
    <script th:src="@{/vendor/jquery-validation/jquery.validate.min.js}"></script>
    <script th:src="@{/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}"></script>
    
    
    <!-- data table -->
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap4.min.css}"/>
    
    <!-- Main File-->
    <script th:src="@{/js/front.js}"></script>
	
	<!-- custom alert-->
	<!-- <link rel="stylesheet" th:href="@{/vendor/mpc/custom_alert/custom_alert.css}"/>
    <script th:src="@{/vendor/mpc/custom_alert/custom_alert.js}"></script> -->
    
    
    <!-- app css and js-->
	<link rel="stylesheet" th:href="@{/css/mpc.css}"/>
    <script th:src="@{/app/common.js}"></script>
	
</head>
</html>