<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidenav">
    <nav class="side-navbar">
      <div class="side-navbar-wrapper">
        <!-- Sidebar Header    -->
        <div class="sidenav-header d-flex align-items-center justify-content-center">
          <!-- User Info-->
          <div class="sidenav-header-inner text-center">
          	<img th:src="@{/img/avatar-2.jpg}" alt="person" class="img-fluid rounded-circle"/>
            <h2 class="h5" th:text="#{home.admin}"></h2>
            <!-- <span>Job Title</span> -->
          </div>
          <!-- Small Brand information, appears on minimized sidebar-->
          <div class="sidenav-header-logo"><a href="/admin/home" class="brand-small text-center"> <strong>XY</strong><strong class="text-primary">Z</strong></a></div>
        </div>
        <!-- Sidebar Navigation Menus-->
        <div class="main-menu">
          <h5 class="sidenav-heading"><span th:text="#{home.options}"></span></h5>
          <ul id="side-main-menu" class="side-menu list-unstyled">
          
            <!-- ========================== Home ========================== -->
            <t th:switch="${currentPage}">
            	<t th:case="'home'">
            		<li class="active"><a href="/admin/home"> <i class="icon-home"></i><span th:text="#{home.title}"></span></a></li>
            	</t>
            	<t th:case="*">
            		<li><a href="/admin/home"> <i class="icon-home"></i><span th:text="#{home.title}"></span></a></li>
            	</t>
            </t>
            
            <!-- ========================== Setup ========================== -->
             <t th:switch="${currentPage}" > 
			  <t th:case="'grade'">
			  	<li><a href="#setupSection" aria-expanded="true" data-toggle="collapse"> <i class="icon-interface-windows"></i><span th:text="#{home.setup}"></span></a>
	              <ul id="setupSection" class="collapse list-unstyled collapse show">
	              	<li class="active"><a href="/admin/grade"><span th:text="#{grade.title}"></span></a></li>
	              	<li><a href="/admin/employee"><span th:text="#{employee.title}"></span></a></li>
	              	<li><a href="/admin/empAccount"><span th:text="#{empAccount.title}"></span></a></li>
	              	<li><a href="/admin/comAccount"><span th:text="#{comAccount.title}"></span></a></li>
	              </ul>
	            </li>
			  </t>
			  
			  <t th:case="'employee'">
			  	<li><a href="#setupSection" aria-expanded="true" data-toggle="collapse"> <i class="icon-interface-windows"></i><span th:text="#{home.setup}"></span></a>
	              <ul id="setupSection" class="collapse list-unstyled collapse show">
	              	<li><a href="/admin/grade"><span th:text="#{grade.title}"></span></a></li>
	              	<li class="active"><a href="/admin/employee"><span th:text="#{employee.title}"></span></a></li>
	              	<li><a href="/admin/empAccount"><span th:text="#{empAccount.title}"></span></a></li>
	              	<li><a href="/admin/comAccount"><span th:text="#{comAccount.title}"></span></a></li>
	              </ul>
	            </li>
			  </t>
			  
			  <t th:case="'empAccount'">
			  	<li><a href="#setupSection" aria-expanded="true" data-toggle="collapse"> <i class="icon-interface-windows"></i><span th:text="#{home.setup}"></span></a>
	              <ul id="setupSection" class="collapse list-unstyled collapse show">
	              	<li><a href="/admin/grade"><span th:text="#{grade.title}"></span></a></li>
	              	<li><a href="/admin/employee"><span th:text="#{employee.title}"></span></a></li>
	              	<li class="active"><a href="/admin/empAccount"><span th:text="#{empAccount.title}"></span></a></li>
	              	<li><a href="/admin/comAccount"><span th:text="#{comAccount.title}"></span></a></li>
	              </ul>
	            </li>
			  </t>
			  
			  <t th:case="'comAccount'">
			  	<li><a href="#setupSection" aria-expanded="true" data-toggle="collapse"> <i class="icon-interface-windows"></i><span th:text="#{home.setup}"></span></a>
	              <ul id="setupSection" class="collapse list-unstyled collapse show">
	              	<li><a href="/admin/grade"><span th:text="#{grade.title}"></span></a></li>
	              	<li><a href="/admin/employee"><span th:text="#{employee.title}"></span></a></li>
	              	<li><a href="/admin/empAccount"><span th:text="#{empAccount.title}"></span></a></li>
	              	<li class="active"><a href="/admin/comAccount"><span th:text="#{comAccount.title}"></span></a></li>
	              </ul>
	            </li>
			  </t>
			  
			  <t th:case="*">
			  	<li><a href="#setupSection" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i><span th:text="#{home.setup}"></span></a>
	              <ul id="setupSection" class="collapse list-unstyled">
	              	<li><a href="/admin/grade"><span th:text="#{grade.title}"></span></a></li>
	              	<li><a href="/admin/employee"><span th:text="#{employee.title}"></span></a></li>
	              	<li><a href="/admin/empAccount"><span th:text="#{empAccount.title}"></span></a></li>
	              	<li><a href="/admin/comAccount"><span th:text="#{comAccount.title}"></span></a></li>
	              </ul>
	            </li>
			  </t> 
			</t> 
			
			<!-- ========================== Pay Salary ========================== -->
            <t th:switch="${currentPage}">
            	<t th:case="'paySalary'">
            		<li class="active"><a href="/admin/paySalary"> <i class="icon-interface-windows"></i><span th:text="#{paySalary.title}"></span></a></li>
            	</t>
            	<t th:case="*">
            		<li><a href="/admin/paySalary"> <i class="icon-interface-windows"></i><span th:text="#{paySalary.title}"></span></a></li>
            	</t>
            </t>
			
			<!-- ========================== REPORT ========================== -->
			 <t th:switch="${currentPage}" >
			  
			  <t th:case="'salarySheet'">
			  	<li><a href="#reportZon" aria-expanded="true" data-toggle="collapse"> <i class="icon-interface-windows"></i><span th:text="#{home.report}"></span></a>
	              <ul id="reportZon" class="collapse list-unstyled collapse show">
		                <li class="active"><a href="/admin/salarySheet"><span th:text="#{salarySheet.title}"></span></a></li>
		                <li><a href="/admin/accBalance"><span th:text="#{accBalance.title}"></span></a></li>
	              </ul>
	            </li>
			  </t>
			  
			  <t th:case="'accBalance'">
			  	<li><a href="#reportZon" aria-expanded="true" data-toggle="collapse"> <i class="icon-interface-windows"></i><span th:text="#{home.report}"></span></a>
	              <ul id="reportZon" class="collapse list-unstyled collapse show">
		                <li><a href="/admin/salarySheet"><span th:text="#{salarySheet.title}"></span></a></li>
		                <li class="active"><a href="/admin/accBalance"><span th:text="#{accBalance.title}"></span></a></li>
	              </ul>
	            </li>
			  </t>
			  
			  <t th:case="*">
			  	<li><a href="#reportZon" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i><span th:text="#{home.report}"></span></a>
	              <ul id="reportZon" class="collapse list-unstyled">
	              	<li><a href="/admin/salarySheet"><span th:text="#{salarySheet.title}"></span></a></li>
	              	<li><a href="/admin/accBalance"><span th:text="#{accBalance.title}"></span></a></li>
	              </ul>
	            </li>
			  </t> 
			  
			</t> 
			
          </ul> 
        </div>
      </div>
    </nav>
</div>
</html>