<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="topnav">
	<header class="header">
        <nav class="navbar py-0">
          <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
              <div class="navbar-header">
              	<a id="toggle-btn" href="#" class="menu-btn">
              		<i class="icon-bars"> </i>
           		</a>
           		<a href="/admin/home" class="navbar-brand">
                  <div class="brand-text d-none d-md-inline-block">
                  	  <!-- <span id="txtOrgName" th:text="${pagInfo.orgName}"></span> -->
                  	  <span th:text="#{app.firstname}"></span>&nbsp;
            		  <span th:text="#{app.lastname}"></span>
                  </div>
                </a>
              </div>
              <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                <li class="nav-item"><a href="/logout" class="nav-link logout"><span th:text="#{home.logout}">LOut</span><i class="fa fa-sign-out"></i></a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
</div>
</html>