		
		fieldset {
		  border:1px solid gray;
		}
		legend {
		  position: relative;
		  left: 50%; 
		     /* Move the legend to the center of the fieldset's top border */
		
		  transform: translateX(-50%); 
		     /* Fix the alignment to center perfectly */
		
		  background-color: white; 
		     /* Put whatever color you want */
		
		  padding: 0.2em 0.5em;
		  color: gray;
		  font-size:90%;
		  text-align:center;
		  position: relative;
		}
		legend:before {
		  position: absolute;
		  content: '';
		  height: 8px;
		  border-left: 1px solid gray;
		  left: 0px;
		  top: 7px;
		}
		legend:after {
		  position: absolute;
		  content: '';
		  height: 8px;
		  border-right: 1px solid gray;
		  right: 0px;
		  top: 7px;
		}
		#line {
		  position: absolute;
		  top: 19px; /* Position the line */
		  left: 12px;
		  border-top: 1px solid gray;
		  min-width: 20%; /* Fix this according to the white space to hide */
		}
		
		
		
		td, th {
		  white-space: nowrap;
		  overflow: hidden;
		}
		.top-alert {
		  position: fixed;
		  top: 0px;
		  width: 100%;
		  z-index: 100000;
		  left: 0;
		  padding: 20px;
		  display: inline-block;
		  text-align: center;
		}
		.top-alert .alert {
		  width: auto !important;
		  height: 100%;
		  display: inline;
		  position: relative;
		  margin: 0;
		}
		.top-alert .alert .close {
		  color: inherit;
		}
		
		.action{
			text-align: center;
			cursor: pointer;
		}
		
		.error-msg{
			 font-size: 9px;
			 font-style: italic;
			 text-align: right;
		 }
		 
		 .error-msg-show{
			 font-size: 9px;
			 font-style: italic;
			 text-align: right;
		 }
		 
		 .table {
		    /* table-layout: fixed;
		    word-wrap: break-word; */
		    font-size: 12px;
		}
		
		.select2-selection__rendered {
		  line-height: 25px !important;
		  /* font-family: Arial, Helvetica, sans-serif; */
  		  font-size: 12px;
		}
		
		.select2-selection {
		  height: 25px !important;
		}
		
		.select2-results__option { 
		  font-size: 12px;
		}
		
		.border_div{
			border: 1px solid black;
			border-radius: 5px; 
			padding: 10px;
			margin-bottom: 10px;
		}
		
	.ajax-loader {
	   visibility: hidden;
	   background-color: rgba(255,255,255,0.7);
	   position: absolute;
	   z-index: +100 !important;
	   width: 100%;
	   height:100%;
	  }
	  
	  .ajax-loader img {
	   position: relative;
	   top:-8%;
	   left:15%;
	  }
	  
	  .breadcrumb {
	    	padding: 2px 15px !important;
		}
		
	.item_hide{
		display: none;
	}
	
	
	
	
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
		
		
td.details-control {
    background: url('../../img/datatable/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../../img/datatable/details_close.png') no-repeat center center;
}

td.report {
    background: url('../../img/datatable/pdf.png') no-repeat center center;
    cursor: pointer;
}

td.delete {
    background: url('../../img/datatable/delete.png') no-repeat center center;
    cursor: pointer;
}

td.edit {
    background: url('../../img/datatable/edit.png') no-repeat center center;
    cursor: pointer;
}

	
		