<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<link lang="en" th:replace="fragments/generalheader :: gheader"/>
	<title th:text="#{login.title}">title</title>
	<link rel="icon" type="image/png" th:href="@{/img/ico/login.ico}"/>
</head>

<body>
	<div class="page login-page">
      <div class="container">
        <div class="form-outer text-center d-flex align-items-center">
        
          <div class="form-inner">
            <div class="logo text-uppercase">
            	<a href="/" style="text-decoration: none;">
	            	<span th:text="#{app.firstname}"></span>&nbsp;
	            	<strong th:text="#{app.lastname}" class="text-primary"></strong>
            	</a>
            </div>
            <p>__________________________________________________________________________</p>
            <p>______________________________________________________</p>
            <div class="logo text-uppercase"><strong th:text="#{login.title}" class="text-danger">login</strong></div>
            
            <div class="text-center text-primary">
            	<span>[Hints - username : admin &emsp; password : admin]</span>
            </div>
            
            <form th:action="@{/login}" method="POST">
              <div class="form-group-material">
                <input type="text" name="email" value="admin" class="input-material" id="login-username" required="required" />
                <label th:text="#{login.username}" for="login-username" class="label-material">un</label>
              </div>
              <div class="form-group-material">
                <input id="login-password" type="password" value="admin" name="password" required="required" class="input-material"/>
                <label th:text="#{login.password}" for="login-password" class="label-material">ps</label>
              </div>
              <div align="center" th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;" th:text="#{login.invalidUser}">invalid</p>
			  </div>
			  <button id="login" type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> <span th:text="#{login.signin}"></span></button>
            </form>
          </div>
          
          <div class="copyrights text-center">
            <p><span th:text="#{app.version}">version</span> <span th:text="#{developer.DesignBy}">DesignBy</span> <a href="https://www.linkedin.com/in/md-chabed-alam-57294112b/" class="external"><span th:text="#{developer.name}">name</span></a> <span th:text="#{developer.mobile}">mobile</span></p>
          </div>
        </div>
      </div>
    </div>
</body>
</html>